<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="good in goodList" v-bind:key="good.goodName">
                <span>{{good.goodName}}</span>
                --<span>{{good.price}}</span>
                --<span><input type="number" v-model="good.count" /></span>
                --<span>{{good.price*good.count}}</span>
            </li>
        </ul>
        <h2>总价为：{{totalPrice}}元</h2>
    </div>
    <script>
        var app=new Vue({
           el:"#app",
           data:{
               goodList:[
                   {goodName:"短裙",price:"73",count:"1"},
                   {goodName:"大衣",price:"125",count:"1"},
                   {goodName:"餐巾纸",price:"9.7",count:"3"},
                   {goodName:"洗面奶",price:"43",count:"1"}
               ],
               totalPrice:0
           },
           watch:{
               goodList:{
                   deep:true,
                   handler:function(newVal){
                       //newVal实际上指向了更新后的goodList
                       var result=0;
                       //good代表数组迭代出来的每一个good元素，index是它的数组索引
                       newVal.forEach(function(good,index){
                           result+=good.price*good.count;
                       })
                       this.totalPrice=result;
                   }
               }
           }

           /*computed:{
               totalPrice:function(){
                   var result=0;
                   for(var i=0;i<this.goodList.length;i++)
                   {
                        result+=this.goodList[i].price*this.goodList[i].count;
                   }
                   return result;
               }
           }*/
        })
    </script>
</body>
</html>